# Security Program Overview

`{{defaultRevision}}`

{{companyShortName}} is committed to protecting its employees, partners,
clients, customers and the company itself from damaging acts either malicious or
unintentional in nature. This includes implementation of policies, standards,
controls and procedures to ensure the Confidentiality, Integrity, and
Availability of systems and data according to their risk level.

Related documents:  
[Tidepool Employee Handbook](https://tidepool.atlassian.net/wiki/spaces/HANDBOOK/overview)  
[Tidepool Public Security and Privacy Documentation](https://tidepool.atlassian.net/wiki/spaces/PUBSEC/overview)