### Role Based Access Control (RBAC)

By default, user access is granted based on the user's job function / role.
For example:

- Developer
- Security
- IT
- Administrative
- Marketing / Sales

This are defined as **user groups** or **organizational units** in {{IdP}} and may be further defined at the application level

Access to sensitive data and production customer data is highly restricted and
further defined in its own section.
