### Patch Management Procedures

**Cloud Resources**

{{companyShortName}} follows a "cattle-vs-pets" methodology to keep the
resources in the cloud environments immutable and up-to-date with security
patches.

* AWS Elastic Kubernetes Service (EKS) is used to dynamically manage container
  resources based on demand.  
  
* AWS manages patching of the Kubernetes control plane and underlying virtual infrastructure

**User Endpoints**

{{companyShortName}} requires auto-update for security patches to be enabled for
all user endpoints, including laptops and workstations.

* The auto-update configuration and update status on all end-user systems are
  inspected by Security through either manual periodic audits or automated
  compliance auditing agents installed on the endpoints.