### Host Intrusion Detection

Host based intrusion detection is supported via one of the following:

* On Windows, MacOS and Linux endpoint systems: **{{provider}}** agents for malware
  detection and behavior-based endpoint threat detection.

* On AWS systems: AWS GuardDuty, AWS Security Center
  for threat detection.  This includes all virtual
  instances running in the cloud environment.