## Approved Software

`{{defaultRevision}}`

Software approved for use at {{ companyShortName }} includes, but is not limited to:

* Adobe Creative Cloud
* Abstract
* Monday.com
* Atlassian suite
* Google G-suite
* Google Chrome and derivatives
* Microsoft Office
* 1Password
* Postman
* Slack
* Figma
* Zoom
* Github
* Gitkraken
* Xcode
* ZenDesk
* Marketo
* SalsaCRM
* Contentful

Reputable and well documented open source / free software may be used for
development purposes at the discretion of the Engineering team.

Examples of such software include, but are not limited to:

* Code editors (Atom, Emacs, Vim, VS Code, etc)
* Docker
* Kubernetes
* Node/NPM
* Firefox and various browsers and extensions
* Homebrew
* Developer tools and libraries

Software not in the list above may be installed if it is necessary for a
business purpose, legal, with a valid license, and approved on a case-by-case
basis by your manager or the Security Officer.