## Cookie Policy
### Does Tidepool use cookies? 

We use cookies (a piece of data or file that a website can send to your browser, which may then store it on your computer system) and similar technology to collect aggregate (non-personal) information about usage of Tidepool Apps by all of our Users and to help us remember you and your preferences when you revisit the Tidepool Apps. 

These cookies may stay on your browser into the future until they expire or you delete them. Some cookies that assist in the functionality of the Tidepool Apps, like page loading, usually are erased when you close your browser window. 

You may prevent our use of cookies by changing the settings on your internet browser. If you block our cookies, the Tidepool website and/or Tidepool Apps may not function properly or provide full functionality. Further general information about cookies and how they work is available at www.allaboutcookies.org.
